
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
  cursor: pointer;
}

.pagination-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.075);
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

.selected {
  background-color: rgba(0, 0, 0, 0.105);
}